{% extends 'base.html.twig' %}

{% block title %}{{ 'User Profile'|trans }}{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/home">{{ 'Home'|trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'Devices|trans }}</li>
  </ol>
</nav>
<h1>{{ 'User Profile'|trans }}</h1>
{% endblock %}