{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>Home page</h1>
<h2>Tools</h2>
<ul>
  <li><a href="{{ path('app_admin') }}">Admin Tools</a></li>
  <li><a href="{{ path('app_profile') }}">User's Profile</a></li>
</ul>
{% endblock %}