body { font: 18px/1.5 sans-serif; }

table { width: 100%; }

table tr:nth-child(odd) td { background-color: #f3f3f3; }

table th, table td { margin: 5px 10px; }

#form div label {
  display: inline-block;
  width: 130px;
  margin: 10px;
}

#form input, #form select {
  padding: 4px 8px;
  width: 230px;
}

#form button {
  margin: 30px 0 0 318px;
  padding: 5px 20px;
  font-size: 18px;
}
