{% extends 'base.html.twig' %}

{% block title %}Edit parameter option{% endblock %}

{% block body %}
<div data-controller="admin-show">
  <h1>Edit parameter</h1>
  <p>
    <label for="select-device">Type</label>
    <select id="select-device" data-admin-show-target="select" data-action="change->admin-show#change">
      <option value="0" selected="selected">All</option>
      {% for type in types %}
      <option value="{{ type.getId() }}">{{ type.getName() }}</option>
      {% endfor %}
    </select>
  </p>
  {{ form(parameterForm) }}
</div>
{% endblock %}
